<body class="bookingnewbody">
	<div class="container">
		<p class="showcarimage">
  			<%=  image_tag(@car.image_url) %>
		</p>
		<div class = "bookingformtext">
			<%= form_with scope: :booking, url: "/cars/" + @car.id.to_s + "/bookings", local: true do |form| %>
				<p ><strong>
					<%= form.label :checkout_date %></strong><br>
						<%= form.text_field :checkout_date %>
				</p>
				<p class="error">
					<%= show_errors(@booking, :checkout_date) %>
				</p>
				<p><strong>
					<%= form.label :lisence_number %></strong><br>
						<%= @customer.lisence_number %>
				</p>
				<p><strong>
					<%= form.label :lisence_expiry %></strong><br>
						<%= @customer.lisence_expiry %>
				</p>
				<p><strong>
					<%= form.label :address %></strong><br>
						<%= @customer.address %>
				</p>
				<p>
					<%= form.submit class: "btn btn-dark"%>
				</p>

			<% end %>
		</div>
	</div>
</body>

