
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


  <div class="container">

						  <div class="row">

											<ul class="navbar-nav mr-auto">
											<li class="nav-item">
											<a class="nav-link" href="#">About Us</a>
											</li>

											<li class="nav-item">
											<a class="nav-link" href="#">Bookings</a>
											</li>

											<li class="nav-item">
											<a class="nav-link" href="#">Contact Us</a>
											</li>

											<li class="nav-item">
											<a class="nav-link" href="#">LOGIN/SIGNUP</a>
											</li>
											</ul>

							</div>

					<div class="row 2">

									<div class="col-right">

													<%= form_with scope: :booking, url: bookings_path, local: true do |form| %>
														<p>
															<%= form.label :Rental_duration %><br>
															<%= form.text_field :Rental_duration %>
														</p>

														<p>
															<%= form.label :license_number %><br>
															<%= form.text_area :lisence_number %>
														</p>

														<p>
															<%= form.label :lisence_expiry %><br>
															<%= form.text_field :lisence_expiry %>
														</p>

														<p>
															<%= form.label :address %><br>
															<%= form.text_field :address %>
														</p>

														<p>
															<%= form.submit %>
														</p>

													<% end %>

										</div>


										<div class="col-left">


										   		<img src=<%= @car.image_url %> ></img>


										</div>

					</div>



					<div class ="row 3">




									<div class="footer-copyright text-center py-3">© 2020 Copyright:
								<a href="https://mdbootstrap.com/"> VroomVrentals</a>
								</div>


					</div>



	</div>