<body class="customerbookingbody">
	<div class="container">	 
		<div class="customerbookingtext"> 
		<p>
  			<%=  image_tag(@car.image_url) %>
		</p>
		<p>
			<strong>Car Details:</strong>
			<%= @car.description %>
		</p>
		<p>
			<strong>Return Date:</strong>
			<%= @booking.checkout_date %>
		</p>
		<p>
			<strong>Total Cost:</strong>
		 	<%= @booking.total_price %>
		</p>
		<p>
			<strong>Name:</strong>
			<%= @booking.customer.name %>
		</p>
		<%= form_with scope: :booking, model: @booking, local: true  do |form| %>			
			<p>
				<%= submit_tag "Return Car" , class: "btn btn-dark" %>
			 </p>
		<% end %>
		</div>
	</div>
</body>
											