<body class="customernewbody">
	<div class="container">

<h1 class="customernewheading">Create Your Profile</h1>
<div class="customereditform">
<%= form_with scope: :customer, url: customers_path, local: true do |form| %>
  <p>
    <strong><%= form.label :name %></strong><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <strong><%= form.label :address %></strong><br>
    <%= form.text_area :address %>
  </p>

  <p>
    <strong><%= form.label :lisence_number %></strong><br>
    <%= form.text_field :lisence_number %>
  </p>

  <p>
    <strong><%= form.label :lisence_expiry %></strong><br>
    <%= form.text_field :lisence_expiry %>
  </p>
  <p class="error">
  	<%= show_errors(@customer, :lisence_expiry) %>
	</p>

	<p>
	  <%= form.submit class: "btn btn-dark"%>
	</p>

<% end %>
</div>
<div class ="backbutton">
<%= button_to 'Back', root_path , method: :get, class:"btn btn-dark btn-lg" %>
</div>
</div>
</body>
