<body class="customerbody">
	<div class = "container">
	<div class=" jumbotron customerbody" >
		<p class="customertext">
		  <strong>Name:</strong>
		  <%= @customer.name %>
		</p>

		<p class="customertext">
		  <strong>Address:</strong>
		  <%= @customer.address %>
		</p>

		<p class="customertext">
		  <strong>Lisence Number:</strong>
		  <%= @customer.lisence_number %>
		</p>

		<p class="customertext">
		  <strong>Lisence Expiry:</strong>
		  <%= @customer.lisence_expiry %>
		</p>

		<br/>
		<div class ="customerprofilebutton">
		<div class ="row-md">
		<div class ="historybutton">
		<%= button_to  "My Booking History", bookings_customers_path(@customer), method: :get , class:"btn btn-dark" %>
		</div>	
	
		<div class ="column-md , profilesubbutton">


		<button class="btn btn-dark"><%= link_to 'Edit', edit_customer_path , class:"buttontext" %></button>

	
		
		<button class="btn btn-dark"><%= link_to 'Home', root_path , class:"buttontext" %></button>
	
		

		<button class="btn btn-dark"><%= link_to 'Destroy', customer_path,
		        method: :delete,
		        data: { confirm: 'Are you sure?' }  , class:"buttontext" %></button>

		<p class="error">
		  	<%= show_errors(@customer, :error) %>
			</p>
	</div>
	</div>	
	</div>
	</div>
	</div>
</body>
