<body class="carshowbody">
	<div class="jumbotron">
	<!--<div class="carshowtext">-->
		 <p class="carshowtext">
  		<%= link_to image_tag(@car.image_url)%>
		</p>

<p class="carshowtext">
  <strong>Description:</strong>
  <%= @car.description %>
</p>

<p class="carshowtext">
  <strong>Price/Day:</strong>
  <%= @car.price_per_hour %>
</p>

<% if user_signed_in? %>
<% if @car.available %>
<div class ="carshowbutton">
<%= button_to "Rent Now", new_booking_path, method: :get, class: "btn btn-dark" %>
<% else %>
<h3 class="carshowtext">Car is currently unavailable , please have a look at other cars. </h3>

<%end %>

<% else %>
<%= button_to  "Sign Up / Login to Book" , new_user_session_path , method: :get , class:"btn btn-dark" %>
<% end %>
</div>
</div>
</body>

