<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a class="nav-link" href="/aboutus">About Us</a>
</li>



<li class="nav-item">
<% if user_signed_in? %>
<% if @customer  %>
<%= link_to 'View My Profile', "/customers/" + @customer.id.to_s %>
<%= link_to 'log out', destroy_user_session_url, method: :delete %>
</br>
<% else %>
<%= link_to 'Add My Profile', "/customers/new" %>
<%= link_to 'log out', destroy_user_session_url, method: :delete %>
<% end %>
<% end %>
</li>

<li class="nav-item">
<a class="nav-link" href="/contactus">Contact Us</a>
</li>

<li class="nav-item">
<a class="nav-link" href="/users/sign_up">LOGIN/SIGNUP</a>
</li>
</ul>

<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>

<p>
  <strong>Price/hour:</strong>
  <%= @car.price_per_hour %>
</p>

<p>
  <%= link_to image_tag(@car.image_url) %>
</p>


<button type="button" class="btn btn-primary">Rent Now</button>



<p>Companies Policies faagadgdshdshhdgadgaddgsfaagadgdshdshhdgadgaddgfaagadgdshdshhdgadgaddgsfaagadgdshdshhdgadgaddgsfaagadgdshdshhdgadgaddg============sfaagadgdshdshhdgadgaddg============sfaagadgdshdshhdgadgaddg
</p>

<div class="footer-copyright text-center py-3">© 2020 Copyright:
<a href="https://mdbootstrap.com/"> VroomVrentals</a>
</div>