<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">

<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a class="nav-link" href="/cars">Home</a>
</li>

<li class="nav-item">
<a class="nav-link" href="/aboutus">About Us</a>
</li>



<li class="nav-item">
<% if user_signed_in? %>
<% if @customer  %>
<%= link_to 'View My Profile', "/customers/" + @customer.id.to_s %>


<li class="nav-item">
</br>
<%= link_to 'log out', destroy_user_session_url, method: :delete %>
</li>
</br>
<% else %>
<%= link_to 'Add My Profile', "/customers/new" %>
<%= link_to 'log out', destroy_user_session_url, method: :delete %>

<% end %>
<% end %>
</li>

<li class="nav-item">
<a class="nav-link" href="/contactus">Contact Us</a>
</li>

<% if not user_signed_in? %>
<li class="nav-item">
<a class="nav-link" href="/users/sign_up">LOGIN/SIGNUP</a>
</li>
<% end  %>
</ul>


<body class="carshowbody">
	<div class="jumbotron">
	<!--<div class="carshowtext">-->
		 <p class="carshowtext">
  		<%= link_to image_tag(@car.image_url)%>
		</p>

<p class="carshowtext">
  <strong>Description:</strong>
  <%= @car.description %>
</p>

<p class="carshowtext">
  <strong>Price/hour:</strong>
  <%= @car.price_per_hour %>
</p>

<% if user_signed_in? %>
<% if @car.available %>
<div class ="carshowbutton">
<%= button_to "Rent Now", new_booking_path, method: :get, class: "btn btn-dark" %>
<% else %>
<h3>Car is currently unavailable </h3>
<%end %>

<% else %>
<%= button_to "Sign Up / Login to Book" , new_user_session_path , method: :get %>
<% end %>
</div>
</div>
</body>

<div class="footer-copyright text-center py-3">
	© 2020 Copyright:
<a href="https://mdbootstrap.com/"> VroomVrentals</a>
<div class="logo">
<%= image_tag 'project3-logo.png' %>
</div>
</div>